.container {
  padding: 5px;
}
.container .painter {
  border: 1px solid black;
  float: left;
  margin: 10px;
}
.container .controls {
  float: left;
  margin: 10px;
}
.container .controls button {
  display: block;
  margin-bottom: 10px;
}
